:root {
    --color: #596D48
}

@font-face {
    font-family: cronde-italic;
    src: url(src/cronde/CRONDE-Italic.otf);
}

@font-face {
    font-family: cronde;
    src: url(src/cronde/CRONDE.otf);
}

@font-face {
    font-family: cocogoose-italic;
    src: url(src/cocogoose/Cocogoose-Pro-Thin-Italic-trial.ttf);
}

a:link {
    color: white;
}

a:visited {
    color: rgb(255, 220, 189);
}

:focus {
    border-style: solid;
    border-color: blue;
    box-shadow: grey;
}

:invalid {
    border-style: solid;
    border-color: red;
}

p {
    font-family: cronde, sans-serif;
    color:rgb(67, 3, 3);
}

body {
    margin: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    display: flex;
    width: 30vw;
    height: 100vh;
    margin: 0px;
    position: relative;
    text-align: center;
}

.logo>img {
    height: 80px;
    width: auto;
    margin: 5px;

}

.logo {
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20vh;
    left: 0;
    height: auto;
    width: 100%;
    background-color: rgba(82, 42, 12, 0.7);
}

.logo > h1 {
    color: white;
    font-family: cronde-italic, sans-serif;
}

.sidebar > img {
    max-width: 100%;
    min-height: 100%;
    font-family: norse-bold, serif;
    object-fit: cover;
}

.sidebar > .background {
position: absolute;
    top: 20vh;
    left: 0;
    background-color: black;
}

.sidebar > p {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    color: white;
}

.container {
    background-color: rgb(248, 232, 210);
    flex-grow: 1;
    align-items: center;
}

.container > p {
    font-size: 24px;
    position: absolute;
    top: 10vh;
    margin: 2vh;
    bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-family: cronde, sans-serif;
    color: rgb(67, 3, 3);
    text-align: center;
}

form > div > label {
    font-size: 20px;
    position: relative;
    top: 0vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    color: rgb(98, 92, 87);
}

form > div > input {
    border-radius: 4px;
    box-shadow: none;
    border-width: 1px;
    height: 20px;
    margin-top: 6px;
}

form {
    background-color: white;
    position: absolute;
    top: 30vh;
    width: 70%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    padding-left: 40px;
    box-shadow: grey;
    font-family: cronde, 'Times New Roman', Times, serif;
    align-items: center;
}

form > div {
    top: 10vh;
    width: calc(100% / 2);
}

.create-account {
    position: absolute;
    top: 65vh;
    display: flex;
}

.create-account > p {
    font-family: cronde-italic;
    margin: 10px;
}

.create-account > button {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    background-color: rgb(209, 131, 78);
    border-radius: 4px;
    font-family: cronde, sans-serif;
    border-width: 1px;
}

#login-link {
    color:rgb(67, 3, 3)
}

