body {
    margin: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    display: flex;
    width: 30vw;
    height: 100vh;
    margin: 0px;
    position: relative;
    text-align: center;
}

.logo>img {
    height: 100px;
    width: auto;
}

.logo {
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20vh;
    left: 0;
    height: auto;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}

.logo > h1 {
    color: white;
}

.sidebar>img {
    max-width: 100%;
    min-height: 100%;
}

.sidebar > .background {
position: absolute;
    top: 20vh;
    left: 0;
    background-color: black;
}

.sidebar > p {
    position: absolute;
    bottom: 0;
    color: white;
}